@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #04101a;
}



.card-wrapper{
    padding: 24px;
    display: flex;
    justify-content: center;
}
.card-container{
    background-color: red;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    gap: 24px;
}

.centered-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  text-align: center;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(130, 188, 235,0.5) transparent;
}

/* Chrome, Edge, Brave */



